mat-card {
  margin: auto;
  min-width: 25%;
  max-width: 50%;
  text-align: center;
}


mat-form-field {
  width: 90%;
}

mat-card-content {
  margin: 5px;
}
button {
  display: inline-block;
  min-width: 25%;

}
