@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
}

.navbar-container {
    padding: 5px;
}

.container-fluid.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.mat-toolbar.mat-primary {
    margin-bottom: 2.5rem;
}

h1 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

.btn-create {
	margin-top: 1rem;
	margin-bottom: 1.75rem;
}

.mat-dialog-content {
	min-height: 150px;
}